.cover .header:after {
  display: block;
  content: " ";
  clear: both;
}
.cover .header {
  margin-bottom: 2em;
}
.cover .from {
  float: left;
  width: 50%;
  text-align: left;
}
.cover .to {
  text-align: right;
}